{% extends 'base.html' %}

{% block content %}
    <!-- Your custom content goes here -->



<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Brrrgrrr - Customize Your Burger</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Brrrgrrr - Customize Your Burger</h1>

    <h2>Available Ingredients</h2>
    <div id="ingredients-container" class="card"></div>
  
    <h2>Your Burger</h2>
    <div id="selected-ingredients-container"></div>
  
    <h3>Total Price: $<span id="total-price"></span></h3>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

{% endblock %}