<!-- template_name.html -->


<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css">

    <style>
        /* CSS code here */
        body {
            background: url("{% static 'images/background3.jpeg' %}");
            background-attachment: fixed;
            background-position: center;
            overflow-x: hidden;
            background-size: cover;
            margin-top: 7rem;
        }
    </style>



</head>
<body>
    <!-- header section starts -->
     <header class="header">
        <div id="menu-btn" class="fas fa-bars icons"></div>
        <div id="search-btn" class="fas fa-search icons" ></div>

        <nav class="navbar">
            <a href="{% url 'home' %}">home</a>
            <a href="{% url 'menu' %}">menu</a>
            <a href="{% url 'customize' %}">customize</a>
            <span class="space"></span>
            <a href="{% url 'about' %}">about</a>
            <a href="{% url 'contact' %}">contact</a>
            <a href="{% url 'blog' %}">blogs</a>
        </nav>

        <a href="#" class="fas fa-shopping-cart icons"></a>
        <a href="#home" class="logo"><img src="{% static 'images/burger5.jpeg' %}" alt="" width="70px" height="60px"></a>
        
        <form action="" class="search-form">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search icons"></label>
        </form>
     </header>
    <!-- header section end -->
    <!-- menu section start -->
    <section class="menu" id="menu">
        <!-- <div class="heading" style="border: 0px;border-top: 1px solid white; padding-top: 3rem;"> -->
        <div class="heading">
            <img src="{% static 'images/menu.png' %}" alt="">
            <h3>our menu</h3>
        </div>
        <div class="box-container">

            <div class="box" style="color: aliceblue;" >
                <img src="{% static 'images/burger6.jpeg' %}" alt="">
                <div class="content">
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star-half-alt"></i>
                </div>
                <h3>Cheese hamburger</h3>
                <div class="price">₹ 150</div>
                <a href="#" class="btn" >add to cart</a>
            </div>
            <div class="box" style="color: aliceblue;">
                <img src="{% static 'images/burger7.jpg' %}" alt="">
                <div class="stars">
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star-half-alt"></i>
                </div>
                <h3>Cheese hamburger</h3>
                <div class="price">₹ 150</div>
                <a href="#" class="btn" >add to cart</a>
            </div>

            <div class="box" style="color: aliceblue;">
                <img src="{% static 'images/burger8.jpg' %}" alt="">
                <div class="stars">
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star-half-alt"></i>
                </div>
                <h3>Cheese hamburger</h3>
                <div class="price">₹ 150</div>
                <a href="#" class="btn" >add to cart</a>
            </div>
            <div class="box" style="color: aliceblue;">
                <img src="{% static 'images/burger9.jpg' %}" alt="">
                <div class="stars">
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star-half-alt"></i>
                </div>
                <h3>Cheese hamburger</h3>
                <div class="price">₹ 150</div>
                <a href="#" class="btn" >add to cart</a>
            </div>
            <div class="box" style="color: aliceblue;">
                <img src="{% static 'images/burger4.jpg' %}" alt="">
                <div class="stars">
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star-half-alt"></i>
                </div>
                <h3>Cheese hamburger</h3>
                <div class="price">₹ 150</div>
                <a href="#" class="btn" >add to cart</a>
            </div>
            <div class="box" style="color: aliceblue;">
                <img src="{% static 'images/burger-2.png' %}" alt="">
                <div class="stars">
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star-half-alt"></i>
                </div>
                <h3>Cheese hamburger</h3>
                <div class="price">₹ 150</div>
                <a href="#" class="btn" >add to cart</a>
            </div>
        </div>
    </section>

    <!-- menu section end -->
 



    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/script1.js' %}"></script>

</body>
</html>
